<% provide(:title, @taxon.name) %>
<% breadcrumb :categories, @taxon %>
<!-- LIGHT SECTION -->
<%= render "shared/pageheader",  page_title: @taxon.name %> 

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <div class="panel-heading">商品カテゴリー</div>
          <div class="panel-body">
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
              <ul class="nav navbar-nav side-nav">
                <% @taxonomies.each_with_index do |taxonomy, index| %>
                  <li>
                    <%= link_to "javascript:;", 'data-toggle': :collapse, 'data-target': :"#categories#{index + 1}" do %>
                      <%= taxonomy.name %>
                      <i class="fa fa-plus"></i>
                    <% end %>
                    <ul id="categories<%= index + 1 %>" class="collapse collapseItem">
                      <% taxonomy.taxons.leaves.each do |taxon| %>
                        <li>
                          <%= link_to potepan_category_path(taxon.id) do %>
                            <%= taxon.name %>
                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                            <span>(<%= taxon.all_products.count %>)</span>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <%= render "shared/categories_filter" %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render "shared/products_sort" %>
        <div class="row">
          <% @products.each do |product| %>
            <div class="col-sm-4 col-xs-12">
              <%= link_to potepan_product_path(product.id) do %>
                <div class="productBox">
                  <% if product.images.first %>
                    <div class="productImage clearfix">
                      <%= image_tag(product.images.first.attachment(:small), alt: "商品画像-#{product.id}") %>
                    </div>
                  <% end %>
                  <div class="productCaption clearfix">
                    <h5><%= product.name %></h5>
                    <h3><%= product.display_price %></h3>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "shared/partners_logo_slider" %>
