<% provide(:title, @product.name) %>
<% breadcrumb :categories, @product %>
<!-- LIGHT SECTION -->
<%= render "shared/pageheader",  page_title: @product.name %> 

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render "shared/product_image_view", products: @product %>
          <div class="media-body">
            <ul class="list-inline">
              <% if @product.taxons.any? %>
                <li>
                  <%= link_to potepan_category_path(@product.taxons.first.id) do %>
                    <i class="fa fa-reply" aria-hidden="true"></i>
                    一覧ページへ戻る
                  <% end %>
                </li>
              <% end %>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <%= render "shared/select_size_and_quantity" %>
            <div class="btn-area">
              <a href="cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render "shared/related_product", related_products: @related_products %>
  </div>
</section>
