<div class="row productsContent">
  <div class="col-xs-12">
    <div class="page-header">
      <h4>関連商品</h4>
    </div>
  </div>
  <% related_products.each_with_index do |related_product, index| %>
    <div class="col-md-3 col-sm-6 col-xs-12">
      <%= link_to potepan_product_path(related_product.id) do %>
        <div class="productBox">
          <% if related_product.images.first %>
            <div class="productImage clearfix">
              <%= image_tag(related_product.images.first.attachment(:small), alt: "関連商品画像-#{index}") %>
            </div>
          <% end %>
          <div class="productCaption clearfix">
            <h5><%= related_product.name %></h5>
            <h3><%= related_product.display_price %></h3>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
